
extends ../layout
include MessageList
include Pager

prepend head
    - const title = 'Board'

block header
    h1(class=['text-5xl/14', 'font-light', 'mb-4', 'py-2']) メッセージ一覧

block content
    p(class=['text-2xl/7', 'font-medium', 'mb-2']) Welcome to #{user.name}.

    form(method='post' action='/board/post')
        div(class=['flex', 'flex -row', 'space-x-2', 'max-w-xl'])
            input(name='message' placeholder='メッセージ' autocomplete='off').grow-input
            button(type='submit').submit-button 送信

    +MessageList(posts)
    +Pager(page, maxPage, '/board')
